@font-face {
    font-family: 'telcellight';
    src: url('fonts/telcel-ligera-webfont.eot');
    src: url('fonts/telcel-ligera-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/telcel-ligera-webfont.woff') format('woff'),
    url('fonts/telcel-ligera-webfont.ttf') format('truetype'),
    url('fonts/telcel-ligera-webfont.svg#telcelregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'telcelregular';
    src: url('fonts/telcel-media-webfont.eot');
    src: url('fonts/telcel-media-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/telcel-media-webfont.woff') format('woff'),
    url('fonts/telcel-media-webfont.ttf') format('truetype'),
    url('fonts/telcel-media-webfont.svg#telcelregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'telcelbold';
    src: url('fonts/telcel-robusta-webfont.eot');
    src: url('fonts/telcel-robusta-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/telcel-robusta-webfont.woff') format('woff'),
    url('fonts/telcel-robusta-webfont.ttf') format('truetype'),
    url('fonts/telcel-robusta-webfont.svg#telcelregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TelcelFont';
    src:url('fonts/TelcelFont.eot?-3588ej');
    src:url('fonts/TelcelFont.eot?#iefix-3588ej') format('embedded-opentype'),
    url('fonts/TelcelFont.woff?-3588ej') format('woff'),
    url('fonts/TelcelFont.ttf?-3588ej') format('truetype'),
    url('fonts/TelcelFont.svg?-3588ej#TelcelFont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.telcellight{
    font-family: 'telcellight';
    color:#062C5F;
}
.telcelregular{
    font-family: 'telcelregular';
    color:#062C5F;
}
.telcelbold{
    font-family: 'telcelbold';
    color:#062C5F;
}

@font-face {
  font-family: 'TelcelFont';
  src:  url('fonts/TelcelFont.eot?3ffm2r');
  src:  url('fonts/TelcelFont.eot?3ffm2r#iefix') format('embedded-opentype'),
    url('fonts/TelcelFont.ttf?3ffm2r') format('truetype'),
    url('fonts/TelcelFont.woff?3ffm2r') format('woff'),
    url('fonts/TelcelFont.svg?3ffm2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TelcelFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-e9001_twitter:before {
  content: "\e901";
}
.icon-e900_north-america:before {
  content: "\e900";
}
.icon-result:before {
  content: "\e902";
}
.icon-Trash:before {
  content: "\e903";
}
.icon-Substract:before {
  content: "\e904";
}
.icon-Add:before {
  content: "\e905";
}
.icon-Mobli:before {
  content: "\f000";
}
.icon-Facebook:before {
  content: "\f001";
}
.icon-Twitter:before {
  content: "\f002";
}
.icon-YouTube:before {
  content: "\f003";
}
.icon-HolaTelcel:before {
  content: "\f004";
}
.icon-Pinterest:before {
  content: "\f005";
}
.icon-GooglePlus:before {
  content: "\f006";
}
.icon-Email:before {
  content: "\f007";
}
.icon-MobliNeg:before {
  content: "\f008";
}
.icon-FacebookNeg:before {
  content: "\f009";
}
.icon-TwitterNeg:before {
  content: "\f00a";
}
.icon-YouTubeNeg:before {
  content: "\f00b";
}
.icon-PinterestNeg:before {
  content: "\f00c";
}
.icon-GooglePlusNeg:before {
  content: "\f00d";
}
.icon-EmailNeg:before {
  content: "\f00e";
}
.icon-Tick:before {
  content: "\f00f";
}
.icon-TickNeg:before {
  content: "\f010";
}
.icon-Like:before {
  content: "\f011";
}
.icon-DontLike:before {
  content: "\f012";
}
.icon-LikeNeg:before {
  content: "\f013";
}
.icon-DontLikeNeg:before {
  content: "\f014";
}
.icon-Star:before {
  content: "\f015";
}
.icon-HalfStar:before {
  content: "\f016";
}
.icon-PadlockOpen:before {
  content: "\f017";
}
.icon-PadlockClosed:before {
  content: "\f018";
}
.icon-Print:before {
  content: "\f019";
}
.icon-Download:before {
  content: "\f01a";
}
.icon-Share:before {
  content: "\f01b";
}
.icon-Close:before {
  content: "\f01c";
}
.icon-Grid:before {
  content: "\f01d";
}
.icon-List:before {
  content: "\f01e";
}
.icon-Question:before {
  content: "\f01f";
}
.icon-Warning:before {
  content: "\f020";
}
.icon-Update:before {
  content: "\f021";
}
.icon-PDF:before {
  content: "\f022";
}
.icon-Guide:before {
  content: "\f023";
}
.icon-Less:before {
  content: "\f024";
}
.icon-More:before {
  content: "\f025";
}
.icon-Money:before {
  content: "\f027";
}
.icon-MoneyNeg:before {
  content: "\f028";
}
.icon-Alert:before {
  content: "\f029";
}
.icon-Alert2:before {
  content: "\f02a";
}
.icon-SliderLeft:before {
  content: "\f100";
}
.icon-SliderRight:before {
  content: "\f101";
}
.icon-AccordionUp:before {
  content: "\f102";
}
.icon-AccordionDown:before {
  content: "\f103";
}
.icon-AccordionUpNeg:before {
  content: "\f104";
}
.icon-AccordionDownNeg:before {
  content: "\f105";
}
.icon-AccordionLeft:before {
  content: "\f106";
}
.icon-AccordionRight:before {
  content: "\f107";
}
.icon-AccordionLeftNeg:before {
  content: "\f108";
}
.icon-AccordionRightNeg:before {
  content: "\f109";
}
.icon-TriangleUp:before {
  content: "\f10a";
}
.icon-TriangleDown:before {
  content: "\f10b";
}
.icon-TriangleLeft:before {
  content: "\f10c";
}
.icon-TriangleRight:before {
  content: "\f10d";
}
.icon-Wheelchair:before {
  content: "\f200";
}
.icon-GloboTelcel:before {
  content: "\f201";
}
.icon-Week:before {
  content: "\f202";
}
.icon-Month:before {
  content: "\f203";
}
.icon-CreditCard:before {
  content: "\f204";
}
.icon-500Cart:before {
  content: "\f205";
}
.icon-Heart:before {
  content: "\f206";
}
.icon-Sim:before {
  content: "\f207";
}
.icon-FAQAmigo:before {
  content: "\f208";
}
.icon-FAQTravelAbroad:before {
  content: "\f209";
}
.icon-FAQHardware:before {
  content: "\f20a";
}
.icon-FAQPlan:before {
  content: "\f20b";
}
.icon-FAQPromotions:before {
  content: "\f20c";
}
.icon-FAQServices:before {
  content: "\f20d";
}
.icon-FAQSolutions:before {
  content: "\f20e";
}
.icon-FAQInternet:before {
  content: "\f20f";
}
.icon-FAQMyInternet:before {
  content: "\f210";
}
.icon-FAQPurchase:before {
  content: "\f211";
}
.icon-CirculoAzulPoints:before {
  content: "\f212";
}
.icon-PromoBenefits:before {
  content: "\f213";
}
.icon-NoTienesAmigo:before {
  content: "\f214";
}
.icon-TengoAmigo:before {
  content: "\f215";
}
.icon-ConsultBalance:before {
  content: "\f216";
}
.icon-RechargeBalance:before {
  content: "\f217";
}
.icon-NoTengoPlan:before {
  content: "\f218";
}
.icon-TengoPlan:before {
  content: "\f219";
}
.icon-Contact:before {
  content: "\f21a";
}
.icon-Document:before {
  content: "\f21b";
}
.icon-HelpTuts:before {
  content: "\f21c";
}
.icon-InternetTelcel:before {
  content: "\f21d";
}
.icon-AppTelcel:before {
  content: "\f21e";
}
.icon-MyTelcel:before {
  content: "\f21f";
}
.icon-PayTelcel:before {
  content: "\f222";
}
.icon-TutsGuias:before {
  content: "\f223";
}
.icon-TravelAbroad:before {
  content: "\f224";
}
.icon-Soport:before {
  content: "\f225";
}
.icon-PlusOne:before {
  content: "\f226";
}
.icon-Refresh:before {
  content: "\f227";
}
.icon-Keyboard:before {
  content: "\f228";
}
.icon-House:before {
  content: "\f229";
}
.icon-Speedo:before {
  content: "\f22a";
}
.icon-Hourglass:before {
  content: "\f22b";
}
.icon-NoEntry:before {
  content: "\f22c";
}
.icon-Binoculars:before {
  content: "\f22d";
}
.icon-NoConnection:before {
  content: "\f22e";
}
.icon-Eye:before {
  content: "\f22f";
}
.icon-Key:before {
  content: "\f230";
}
.icon-Cloud:before {
  content: "\f231";
}
.icon-TelcelLogo:before {
  content: "\f232";
}
.icon-SimpleAvatar:before {
  content: "\f233";
}
.icon-Lightning:before {
  content: "\f234";
}
.icon-HardwareShock:before {
  content: "\f235";
}
.icon-HardwareWater:before {
  content: "\f236";
}
.icon-HardwareSmash:before {
  content: "\f237";
}
.icon-HardwareExplode:before {
  content: "\f238";
}
.icon-HardwareCut:before {
  content: "\f239";
}
.icon-HardwareZoom:before {
  content: "\f23a";
}
.icon-HardwareTool:before {
  content: "\f23b";
}
.icon-HardwareScratch:before {
  content: "\f23c";
}
.icon-HardwarePrice:before {
  content: "\f23d";
}
.icon-HardwarePack:before {
  content: "\f23e";
}
.icon-HardwareSupport:before {
  content: "\f23f";
}
.icon-Notes:before {
  content: "\f240";
}
.icon-Alarm:before {
  content: "\f241";
}
.icon-Van:before {
  content: "\f242";
}
.icon-FingerSwipe:before {
  content: "\f243";
}
.icon-Bookmark:before {
  content: "\f244";
}
.icon-Pen:before {
  content: "\f245";
}
.icon-Gear:before {
  content: "\f246";
}
.icon-Pointer:before {
  content: "\f247";
}
.icon-ClaroIdeas:before {
  content: "\f248";
}
.icon-ClaroChat:before {
  content: "\f249";
}
.icon-ClaroDeportes:before {
  content: "\f24a";
}
.icon-ClaroJuegos:before {
  content: "\f24b";
}
.icon-ClaroSync:before {
  content: "\f24c";
}
.icon-ClaroViajes:before {
  content: "\f24d";
}
.icon-ClaroVideos:before {
  content: "\f24e";
}
.icon-Imagenes:before {
  content: "\f24f";
}
.icon-Plugger:before {
  content: "\f250";
}
.icon-ZonaClaro:before {
  content: "\f251";
}
.icon-Claro:before {
  content: "\f252";
}
.icon-Zodiac:before {
  content: "\f253";
}
.icon-Football:before {
  content: "\f254";
}
.icon-BasketBall:before {
  content: "\f255";
}
.icon-BaseBall:before {
  content: "\f256";
}
.icon-Bag:before {
  content: "\f300";
}
.icon-MiTelcel:before {
  content: "\f301";
}
.icon-Search:before {
  content: "\f302";
}
.icon-Network:before {
  content: "\f303";
}
.icon-Amigo:before {
  content: "\f304";
}
.icon-Plans:before {
  content: "\f305";
}
.icon-Recommendation:before {
  content: "\f306";
}
.icon-Promos:before {
  content: "\f307";
}
.icon-Consumption:before {
  content: "\f308";
}
.icon-Services:before {
  content: "\f309";
}
.icon-Learn:before {
  content: "\f30a";
}
.icon-Abroad:before {
  content: "\f30b";
}
.icon-Coins:before {
  content: "\f30c";
}
.icon-Phones:before {
  content: "\f30d";
}
.icon-Tablets:before {
  content: "\f30e";
}
.icon-Modems:before {
  content: "\f30f";
}
.icon-WifiMobil:before {
  content: "\f310";
}
.icon-Accessories:before {
  content: "\f311";
}
.icon-Compare:before {
  content: "\f312";
}
.icon-Talk:before {
  content: "\f313";
}
.icon-Finance:before {
  content: "\f314";
}
.icon-Sheild:before {
  content: "\f315";
}
.icon-Gaming:before {
  content: "\f316";
}
.icon-Subscription:before {
  content: "\f317";
}
.icon-Points:before {
  content: "\f318";
}
.icon-Contract:before {
  content: "\f319";
}
.icon-Save:before {
  content: "\f31a";
}
.icon-Help:before {
  content: "\f31b";
}
.icon-Bill:before {
  content: "\f31c";
}
.icon-ExclusivePromo:before {
  content: "\f31d";
}
.icon-Admin:before {
  content: "\f31e";
}
.icon-Watch:before {
  content: "\f31f";
}
.icon-SpeachBubble:before {
  content: "\f320";
}
.icon-OpenMenu:before {
  content: "\f321";
}
.icon-Bin:before {
  content: "\f322";
}
.icon-FreeCalls:before {
  content: "\f400";
}
.icon-InTouch:before {
  content: "\f401";
}
.icon-ChangeCompany:before {
  content: "\f402";
}
.icon-ChoosePlan:before {
  content: "\f403";
}
.icon-BestPhone:before {
  content: "\f404";
}
.icon-Benefits:before {
  content: "\f405";
}
.icon-SameNumber2:before {
  content: "\f406";
}
.icon-SameSim:before {
  content: "\f407";
}
.icon-Mexico:before {
  content: "\f500";
}
.icon-BestHardware:before {
  content: "\f501";
}
.icon-BestPlan:before {
  content: "\f502";
}
.icon-City:before {
  content: "\f503";
}
.icon-GLTE:before {
  content: "\f504";
}
.icon-3G:before {
  content: "\f505";
}
.icon-Internet:before {
  content: "\f506";
}
.icon-Roaming:before {
  content: "\f507";
}
.icon-World:before {
  content: "\f508";
}
.icon-Radar:before {
  content: "\f509";
}
.icon-Purse:before {
  content: "\f50a";
}
.icon-SameNumber:before {
  content: "\f50b";
}
.icon-Membership:before {
  content: "\f50c";
}
.icon-Competition:before {
  content: "\f50d";
}
.icon-Inburs:before {
  content: "\f50e";
}
.icon-QuickBuck:before {
  content: "\f50f";
}
.icon-NoRedTape:before {
  content: "\f510";
}
.icon-Cart:before {
  content: "\f511";
}
.icon-PasaTiempo:before {
  content: "\f512";
}
.icon-ExtraServices:before {
  content: "\f513";
}
.icon-RechargeNetwork:before {
  content: "\f514";
}
.icon-ManageBalance:before {
  content: "\f515";
}
.icon-Message:before {
  content: "\f516";
}
.icon-RecommendPlan:before {
  content: "\f517";
}
.icon-KitAmigo:before {
  content: "\f518";
}
.icon-ZeroCommitment:before {
  content: "\f519";
}
.icon-RechargeGift:before {
  content: "\f51a";
}
.icon-HardwareBargin:before {
  content: "\f51b";
}
.icon-ChooseAmount:before {
  content: "\f51c";
}
.icon-Compass:before {
  content: "\f51d";
}
.icon-FreeNumber:before {
  content: "\f51e";
}
.icon-MobileInternet:before {
  content: "\f51f";
}
.icon-BigBonus:before {
  content: "\f520";
}
.icon-RechargeMore:before {
  content: "\f521";
}
.icon-StopWatch:before {
  content: "\f522";
}
.icon-AllClients:before {
  content: "\f523";
}
.icon-Adaptable:before {
  content: "\f524";
}
.icon-ZeroDollars:before {
  content: "\f525";
}
.icon-SMSMessages:before {
  content: "\f526";
}
.icon-ThreeWayCall:before {
  content: "\f527";
}
.icon-Rescatel:before {
  content: "\f528";
}
.icon-CallTransfer:before {
  content: "\f529";
}
.icon-RegisterInvoice:before {
  content: "\f52a";
}
.icon-InvoiceSummary:before {
  content: "\f52b";
}
.icon-AccountDownload:before {
  content: "\f52c";
}
.icon-InternetPackage:before {
  content: "\f52d";
}
.icon-IntelligentInbox:before {
  content: "\f52e";
}
.icon-CloseSession:before {
  content: "\f52f";
}
.icon-ManageNumbers:before {
  content: "\f530";
}
.icon-ChangeChargingScheme:before {
  content: "\f531";
}
.icon-ChangeChargingScheme2:before {
  content: "\f532";
}
.icon-SuspendLine:before {
  content: "\f533";
}
.icon-SuspendLine2:before {
  content: "\f534";
}
.icon-iTelcel:before {
  content: "\f535";
}
.icon-Transfer:before {
  content: "\f536";
}
.icon-WhatsApp:before {
  content: "\f537";
}
.icon-Windows:before {
  content: "\f600";
}
.icon-Mac:before {
  content: "\f601";
}
.icon-Android:before {
  content: "\f602";
}
.icon-Blackberry:before {
  content: "\f603";
}
.icon-Phone:before {
  content: "\f604";
}
.icon-Tablet:before {
  content: "\f605";
}
.icon-USBModem:before {
  content: "\f606";
}
.icon-PC:before {
  content: "\f607";
}
.icon-SearchEngine:before {
  content: "\f608";
}
.icon-SocialNetwork:before {
  content: "\f609";
}
.icon-Chat:before {
  content: "\f60a";
}
.icon-Games:before {
  content: "\f60b";
}
.icon-Music:before {
  content: "\f60c";
}
.icon-Video:before {
  content: "\f60d";
}
.icon-Mail:before {
  content: "\f60e";
}
.icon-OpenMail:before {
  content: "\f60f";
}
.icon-Entertainment:before {
  content: "\f610";
}
.icon-MoreInfo:before {
  content: "\f611";
}
.icon-4GLTE:before {
  content: "\f612";
}
.icon-Calculator:before {
  content: "\f613";
}
.icon-AmigoPack:before {
  content: "\f614";
}
.icon-ExtendedPlan:before {
  content: "\f615";
}
.icon-ExtraPack:before {
  content: "\f616";
}
.icon-Screen:before {
  content: "\f700";
}
.icon-Memory:before {
  content: "\f701";
}
.icon-OsWindows:before {
  content: "\f702";
}
.icon-OsMac:before {
  content: "\f703";
}
.icon-OsAndroid:before {
  content: "\f704";
}
.icon-Camera:before {
  content: "\f705";
}
.icon-Processor:before {
  content: "\f706";
}
.icon-WiFi:before {
  content: "\f707";
}
.icon-PlanRenta:before {
  content: "\f708";
}
.icon-BestBrands:before {
  content: "\f709";
}
.icon-Hardware:before {
  content: "\f70a";
}
.icon-SpecialHardware:before {
  content: "\f70b";
}
.icon-Invoice:before {
  content: "\f900";
}
.icon-Questions:before {
  content: "\f901";
}
.icon-Glossary:before {
  content: "\f902";
}
